//reset & standard size

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
    height: 100%;
}

//body & text

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url(../img/bg_index.jpg);
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    #proyectos{
        background-image: url(../img/bg_dis.jpg);
        background-attachment: fixed;
        @media(max-width: 1024px){
            background-image: url(../img/bg_index.jpg);
        }
    }
    #productos{
        background-image: url(../img/bg_serv.jpg);
        background-attachment: fixed;
        @media(max-width: 1024px){
            background-image: url(../img/bg_index.jpg);
        }
    }
    #sobremi{
        background-image: url(../img/bg_sob.jpg);
        background-attachment: fixed;
        @media(max-width: 1024px){
            background-image: url(../img/bg_index.jpg);
        }
    }
    #contacto{
        background-image: url(../img/bg_con.jpg);
        background-attachment: fixed;
        @media(max-width: 1024px){
            background-image: url(../img/bg_index.jpg);
        }
    }

}
a{ 
    text-decoration: none;
}
h1, h2, h3{
    display: flex;
    color: $secColor;
    font-family: $mainFont;
    @media(min-width:320px){
        text-align: center;
    }
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $textBold;
    font-size: $textXxl;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $textLight;
    font-size: $textXxl;
}
h3{
    display: flex;
    text-align: justify;
    font-weight: $textRegular;
    font-size: $textMd;
}
p{
    @include parrafo(100, 2em, white)
}
.texto{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15%;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

//footer

.container-fluid{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    .rrss{
        height: 40px;
        margin-right: 20px;
        &:hover{
            filter: drop-shadow(3px 3px orange);
        }
    }
    @media(max-width:1024px){   
        .rrss{
            &:hover{
            filter: none;
            }
        }
    }
    .legal{
        color: $secColor;
        font-size: $textSm;
    }
}
