//form contact

.form{
    margin-top: 10px;
    margin-bottom: 20px;
}
.formulario{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 0;
    color: $terColor;
}
.caja-1{
    width: 250px;
    height: 40px;
    margin: 20px;
    padding: 10px;
    font-size: $textXsm;
}
.caja-2{
    width: 75%;
    height: 100px;
    margin: 20px;
    padding: 10px;
    font-size: $textXsm;
    resize: none;
}
.enviar{
    margin: 20px;
    padding: 10px;
}
.contactar{
    width: 76%;
    font-size: $textXsm;
    box-shadow: whitesmoke;
}