//visual inicio

.carousel-inner{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0;
    width: 100%;
    height: 340px;
}
.frases{
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1));
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

// visual diseño

.galeria{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    .card{
        display: flex;
        align-items: center;
        margin: auto auto auto auto;
        border: $priColor solid 3px;
        .card-img-top{
            height: 297px;
            width: 240px;
        }
        .card-body{
            padding-top: 0;
            .card-title{
                justify-content: center;
                margin-top: 0px;
                color: $priColor;
                font-weight: $textBold;
                font-size: $textXl;
            }
            .card-text{
                justify-content: center;
                text-align: center;
                margin-top: 5px;
                color: $priColor;
                font-size: $textSm;
            }
            .btn-primary{
                display: flex;
                justify-content: center;
                width: 73px;
                background-color: $terColor;
                color: $priColor;
                border: none;
                font-size: $textSm;
            }
        }
    }
}
@media(min-width:320px){
    .galeria{
        grid-template-columns: repeat(1, 100%);
        row-gap: 20px;
    }}
@media(min-width:600px){
    .galeria{
        grid-template-columns: repeat(2, 50%);
    }}
@media(min-width:1024px){
        .galeria{
            grid-template-columns: repeat(4, 25%);
            gap: none;
        }}
@media (min-width:1024px){
    .card{
        filter: opacity(0);
            &:hover{
            filter: none;
            transition: filter 1s;
        }
    } 
}

// visual servicios 

.galeria{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    .card{
        display: flex;
        align-items: center;
        margin: auto auto auto auto;
        border: $priColor solid 3px;
        .card-img-top{
            height: 297px;
            width: 240px;
        }
        .card-body{
            padding-top: 0;
            .card-title{
                justify-content: center;
                margin-top: 0px;
                color: $priColor;
                font-weight: $textBold;
                font-size: $textXl;
            }
            .card-text{
                justify-content: center;
                text-align: center;
                margin-top: 5px;
                color: $priColor;
                font-size: $textSm;
            }
            .btn-primary{
                display: flex;
                justify-content: center;
                width: 73px;
                background-color: $terColor;
                color: $priColor;
                border: none;
                font-size: $textSm;
            }
        }
    }
}
@media(min-width:320px){
    .galeria{
        grid-template-columns: repeat(1, 100%);
        row-gap: 20px;
        margin-top: 15px;
    }}
@media(min-width:600px){
    .galeria{
        grid-template-columns: repeat(2, 50%);
        margin-top: 15px;
    }}
@media(min-width:1024px){
        .galeria{
            grid-template-columns: repeat(4, 25%);
            gap: none;
        }}
@media (min-width:1024px){
    .card{
        filter: opacity(0);
            &:hover{
            filter: none;
            transition: filter 1s;
        }
    } 
}

// visual sobre 

.sobre{
    display: grid;
    grid-template-columns: 33% 35% 33%;
    gap: 20px;
    .card1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto auto auto 20px;
        .card-img-top1{
            width: 37rem;
            height: auto;
        }
    }
    .card2{
        display: flex;
        align-items: center;
        margin: auto auto auto 10px;
        background-color: rgba(0, 0, 0, 0.604);
        border-radius: 10px;
        .card-body2{
            padding: 5px 5px 5px 5px;
            width: 38rem;
            height: 36rem;
            .card-title2{
                justify-content: center;
                margin-top: 15px;
                color: $terColor;
                font-weight: $textBold;
                font-size: $textXl;
            }
            .card-text2{
                justify-content: center;
                text-align: left;
                margin-top: 5px;
                color: $secColor;
                font-size: $textMd;
                font-weight: $textLight;
            }
        }
    }
    .card3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto auto 10px 10px;
        .card-img-top3{
            width: 35rem;
            height: auto;
        }
    }
}
@media(max-width:600px){
    .sobre{
        grid-template-columns: repeat(1, 100%);
        justify-items: center;
        row-gap: 20px;
        margin: 15px auto auto auto;
    }
    
}

