//visual inicio

.carousel-inner{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    height: 360px;
}
.frase{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: 20px auto;
    white-space: pre-line;
}

// visual diseño

.contenedor_dis{
    display: grid;
    justify-content: stretch;
    margin-right: 50px;
}
    .galeria img{
        width: 245px;
        margin-left: 50px;
        margin-top: 5px;
    }
@media(min-width:520px){   
    .contenedor_dis{
        grid-template-columns: repeat(2, 50%);
    }}
@media (min-width:1024px){
    .contenedor_dis{
        grid-template-columns: repeat(4, 25%);
    }
    .galeria img{
            filter: grayscale(1);
                &:hover{
                filter: none;
                transition: filter 1s;
            }
        }
    }  

// visual servicios

.servicios img{
    width: 400px;
    margin: auto;
}
    .checo1{
        margin: auto;
        margin-top: 20px;
    }
    .checo2{
        margin: auto;
        margin-top: 20px;
    }
    .contenedor_servi{
        display: grid;
    }
@media(min-width:520px){
    .contenedor_servi{
        grid-template-columns: repeat(2, 50%);
    }}
@media (min-width:1024px){
    .servicios img{
        filter: opacity(0.2);
            &:hover{
            filter: none;
            transition: filter 1.5s;
        }
    } 
}

.descrip{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

// visual sobre 

.yo img{
    filter: sepia(0.9);
    display: block;
    justify-content: center;
    width: 52%;
    height: auto;
    max-width: 1000px;
    min-width: 320px;
    margin: 20px auto;
}

.desc1{
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: 20px auto;
}



