//navegator

#botonera{
    background-color: $priColor;
    ul{
        list-style: none;
        li{
            padding-left: 1.5em;
            a{
                color: $secColor;
                font-size: $textMd;
                @media(min-width: 1024px){
                    &:hover{
                    color: $terColor;
                    font-weight: $textBold;
                    text-decoration: none;
                    }
                }
            }
        }
    }
    img{
        height: 80px;
        margin-left: 5px;
        margin-top: 10px;
        &:hover{
            filter:drop-shadow(4px 4px $terColor);
        }
    }
    @media(max-width:1024px){   
        img{
            &:hover{
            filter: none;
            }
        }
    }
    .navbar-toggler{
      color: $secColor;
      border: none;
      &:focus{
      box-shadow: none;
      }
    }
}