//variables colores

$priColor:black;
$secColor:white;
$terColor:orange;

//variables textos

$textBold:400;
$textRegular:200;
$textLight:100;
$textXsm: 1em;
$textSm:1.5em;
$textMd:2em;
$textXl:2.5em;
$textXxl:3em;


//variables fonts

$mainFont: 'Roboto', sans-serif;
